{% extends "app/base.html" %} {% block content %}

<h2>＞ 店舗紹介</h2>
<div class="shop mt-5 row">
  <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card mb-2">
        <div class="card-body">
          <div class="card-title">店長より</div>
          <div class="card-text px-2 py-3">
            平成？年に設立以来、様々なお客様に支えられて<br />
            営業してまいりました。<br />
            今後とも、よろしくお願いいたします
          </div>
        </div>
      </div>
  <table class="table mx-auto">
    <tbody>
      <tr>
        <td class="bgcolor">店名</td>
        <td>居酒屋 ＸＸ</td>
      </tr>
      <tr>
        <td class="bgcolor">住所</td>
        <td>〒367-???? 埼玉県本庄市????</td>
      </tr>
      <tr>
        <td class="bgcolor">電話</td>
        <!-- <td>090-2216-6484</td> -->
        <td>xxx-xxxx-xxxx</td>
      </tr>
      <tr>
        <td class="bgcolor">交通</td>
        <!-- <td>JR本庄駅南口徒歩2分</td> -->
        <td>南口徒歩2分</td>
      </tr>
      <tr>
        <td class="bgcolor">営業時間</td>
        <td>17:00～</td>
      </tr>
      <tr>
        <td class="bgcolor">定休日</td>
        <td>日曜・月曜</td>
      </tr>
      <tr>
        <td class="bgcolor">支払い方法</td>
        <td>現金（カード不可）</td>
      </tr>
    </tbody>
  </table>
<div class="my-4 iframe-wrapper">
  <!--  -->
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3218.136675915166!2d139.1856026977454!3d36.23617370665858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ec2c7598de0bf%3A0x6c1d5643cc71479!2z5pys5bqE6aeF!5e0!3m2!1sja!2sjp!4v1760166341912!5m2!1sja!2sjp" 
    width="600" height="450"
    style="border:0;" 
    allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3218.0754910943297!2d139.18599437479148!3d36.23766009920949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ec2b8c62e1129%3A0x239dee922cfa21e7!2z44CSMzY3LTAwNTIg5Z-8546J55yM5pys5bqE5biC6YqA5bqn77yT5LiB55uu77yU4oiS77yR77yS!5e0!3m2!1sja!2sjp!4v1759976006995!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
</div>
  </div>
  <div class="col-lg-2"></div>
</div>

{% endblock %}